/* ===========================forms======================== */
.form1Holder{width: 100%;position: relative;display: block;}
#form1{
	text-transform: none;
	width: 100%;
	display: inline-block;
}
#form1>a{
	float: left;
	text-transform: uppercase;
	font-size: 10px;
}
#form1 select{
	visibility: hidden;
	float: left;
}
.select_1{
	width: 165px;
    position: relative;
    float: left;
}
.searchButton1{
    display: block;
    position: relative;
    float: left;
    margin-top: 16px;
    width: 100%;
    cursor: pointer;
}
.searchButton1 .more{float: right;}
._inpHold1{width: 386px;position: relative;float: left;display: block;height: 28px;border: 1px solid #d8d8d8;}
._inp1{float: left;display: block;margin-left: 8px;margin-top: 6px;}
.label1{font-size: 12px; color: #6b6b6b;display: inline-block;position: relative;float: left;line-height: 20px;margin-top: 8px;width: 65px;}
.label2{font-size: 12px; color: #6b6b6b;display: inline-block;position: relative;float: left;line-height: 20px;margin-top: 8px;width: 120px;}
.label3{font-size: 12px; color: #6b6b6b;display: inline-block;position: relative;float: left;line-height: 20px;width: 40px;}
.label4{font-size: 12px; color: #6b6b6b;display: inline-block;position: relative;float: left;line-height: 20px;width: 71px;margin-top: 8px;}
.label5{font-size: 11px; color: #6b6b6b;display: inline-block;position: relative;float: left;line-height: 20px;width: 145px;margin-top: 2px;}
.label6{font-size: 11px; color: #6b6b6b;display: inline-block;position: relative;float: left;line-height: 20px;width: 240px;margin-top: 2px;}
.subcol1{width: 194px; position: relative; float: left;}
.subcol2{width: 165px; position: relative; float: left;}
.subcol3{width: 258px; position: relative; float: left;}
/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
	height: 25px;
	padding: 0px;
	float:left;
	width: 100%;
}
.jqTransformInputInner {
	padding: 0px;
	margin: 0px;
}
.jqTransformInputInner div {
	height: 25px;
}
.jqTransformInputInner div input {
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
	height: 20px;
	color: #6B6B6B;	
	border: none;
	width: 370px;
}
/*  IE6 */
* html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin: 0 0 0 -8px;
	height:24px;
}
/* Ie7 */
*+ html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin-left:-10px;
	height:24px;
}
/*hover*/
.jqTransformInputWrapper_hover{ background-position: left -31px ;}
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background-position: right -31px ;}
/*focus*/
.jqTransformInputWrapper_focus{ background-position: left -62px ;}
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background-position: right -62px ;}
.jqTransformSafari .jqTransformInputInner div {
	position: relative;
	overflow: hidden;
}
.jqTransformSafari .jqTransformInputInner div input {
	background-color: none;
	position: absolute; 
}
/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 100%;
	position:relative;
	height: 28px;
	float:left;
	background: none;
	border: 1px solid #d8d8d8;
}
.jqTransformSelectWrapper div span {
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 25px;
	line-height: 28px;
	overflow: hidden;
	cursor:pointer;
	color: #6B6B6B;
	margin: 2px 0 0 10px;
}
.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 2px;
	width: 24px;
	height: 24px;
	background: url(../images/arr_1.png) no-repeat 50% 50%;
	top: 2px;
}
.jqTransformSelectWrapper ul {
	position: absolute;
	width: 100%;
	top: 30px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 120px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}
.jqTransformSelectWrapper ul a {
	display: block;
	padding: 0px 5px;
	text-decoration: none;
	color: #6A6A6A;
	background-color: #FFF;
	font-family: 'Arial', sans-serif;
	font-size: 11px;
}
.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}
.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#1c1c1c;
	color: #fff;
}
/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;	margin-top: 3px;margin-right: 4px;}
.jqTransformRadio {
	background: transparent url(../images/radio.png) no-repeat center top;
	vertical-align: middle;
	height: 12px;
	width: 12px;
	display:block;/*display: -moz-inline-block;*/
}
/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin-top: 5px;
	margin-right: 5px;
}
a.jqTransformCheckbox {
	background: transparent url(../images/checkbox.png) no-repeat center top;
	vertical-align: middle;
	height: 13px;
	width: 13px;
	display:block;/*display: -moz-inline-block;*/
}
/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: center bottom;}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}