/*****************************/
/* Copyright by CreativeDive */
/*****************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);
/* if use SSL (https://) >>> set the URL Source to https://fonts.googleapis.com/... to load google web-fonts */

/* SHOWROOM CSS */

* {font-family:'Open Sans', sans-serif, Segoe UI light;font-weight:100}
html, body {margin:0px;padding:0px;width:100%;height:100%}
body {background:#d9d9d9 url("icons/background.jpg") repeat-y center top}

body.light, body.light {background:#d9d9d9 url("icons/background.jpg") repeat-y center top!important}
body.dark, body.dark {background:#060606 url("icons/background-dark.gif") repeat-y center top!important}
body.transparent , body.transparent {background:#d9d9d9 url("icons/background-transparent.jpg") repeat-y center top fixed!important}

.container {padding:50px;width:990px;margin:0 auto}
.logo {text-align:center;width:100%}
.logo img {text-align:center;margin:0px auto 20px auto;border:0px}

h1, h2, h3 {font-weight:300;width:100%;text-align:center;color:#646464;float:left}
h3 {color:#1787d6}

.color.blue {font-weight:600;color:#1787d6}
.color.grey {font-weight:600;color:#b5b5b5}
.color.green {font-weight:600;color:#509b07}
.color.orange {font-weight:600;color:#d18117}
.color.yellow {font-weight:600;color:#c8a208}
.color.red {font-weight:600;color:#d30100}
.color.purple {font-weight:600;color:#9a0fb8}
.color.pink {font-weight:600;color:#b4039d}

.description {font-weight:300;font-size:20px;margin-bottom:30px;width:100%;text-align:center;color:#646464}

table, .content {border-collapse:collapse;float:left;clear:both;width:100%;margin-bottom:50px;background:#fff;border:10px solid #eee;
box-shadow:0px 1px 8px rgba(0, 0, 0, 0.3);-moz-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.3)}

td, th {padding:40px 20px 40px 20px;border:1px dotted #ccc;font-size:14px;text-align:center;color:#aaa}

.center {margin:0 auto;width:990px}

ul {margin:0px;padding:0px;list-style:none;width:330px;float:left}
li {display:inline-block;width:100%;height:200px;padding:40px 0px 40px 0px;position:relative;overflow:hidden;border-left:1px dashed #777777}
li.li-title {display:inline-block;width:100%;height:auto;padding:0px 0px 0px 0px;position:relative;overflow:visible;border:0px}
li.li-title h2, li.li-title h3 {text-align:left}

.absolute .pos-left {position:absolute!important;top:20px!important;left:0px!important}
.absolute .pos-right {position:absolute!important;top:20px!important;right:0px!important}
.absolute .pos-top {position:absolute!important;top:0px!important;left:20px!important}
.absolute .pos-bottom {position:absolute!important;bottom:0px!important;left:20px!important}

/* DOCUMENTATION CSS */

.content-in {background:#fff;padding:20px;font-size:13px}

.content-in table {border-collapse:collapse;float:left;clear:both;width:100%;margin:0px;background:#fff;border:1px solid #fff;
box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}

.content-in td {padding:5px;border:1px dotted #ccc;font-size:13px;text-align:center;color:#000}

td.light {background:#d9d9d9 url("icons/background.jpg") repeat-y center top;padding:20px}
td.dark {background:#060606 url("icons/background-dark.gif") repeat-y center top;padding:20px}
td.transparent {background:#d9d9d9 url("icons/background-transparent.jpg") repeat-y center top fixed;padding:20px}

code {font-family:"Courier New", monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco;color:#27BB0A;font-size:12px}

pre code {
font-family:"Courier New", monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco;
display:block;
clear:both;
background:#000;
padding:20px 0px 20px 0px;
color:#fff;
font-size:12px;
overflow:auto;
line-height:16px;
margin:0px 0px 0px 0px;
white-space:pre;
width:100%
}

pre span {font-family:"Courier New", monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco;font-size:12px}


/* BEGIN SOCIAL SIDEBAR CSS */

.sidebar {font-family:'Open Sans', sans-serif, Segoe UI light;font-weight:300}
.sidebar a {color:#fff}
.sidebar a:hover {text-decoration:none}

.sidebar {font-size:13px}

.pos-left .sidebar-content, .pos-right .sidebar-content, .pos-left .sidebarmenu-inner, .pos-right .sidebarmenu-inner {float:left;clear:both;text-decoration:none}
.pos-top .sidebar-content, .pos-bottom .sidebar-content, .pos-top .sidebarmenu-inner, .pos-bottom .sidebarmenu-inner {float:left;text-decoration:none}

.sidebar-content {height:100%;width:100%;cursor:pointer}

/*** sidebar positions ***/

.pos-left {position:fixed;top:100px;left:0px}
.pos-right {position:fixed;top:100px;right:0px}
.pos-top {position:fixed;top:0px;left:100px}
.pos-bottom {position:fixed;bottom:0px;left:100px}

/******************** WITHOUT TEXT *****************************/

/*** sidebar buttons ***/

/* show - slide out */

.pos-left.show .sidebar-content:hover {width:64px}
.pos-right.show .sidebar-content {margin-left:32px}
.pos-right.show .sidebar-content:hover {width:64px;margin-left:0px}
.pos-top.show .sidebar-content:hover {height:64px}
.pos-bottom.show .sidebar-content {margin-top:32px}
.pos-bottom.show .sidebar-content:hover {height:64px;margin-top:0px}
.pos-bottom.icon-text.show .sidebar-content:hover {margin-top:32px}

/* hidden - slide out */

.pos-left.hidden .sidebar-content {margin-left:-16px}
.pos-left.hidden .sidebar-content:hover {margin-left:0px}
.pos-right.hidden .sidebar-content {margin-right:-16px}
.pos-right.hidden .sidebar-content:hover {margin-left:-16px}
.pos-top.hidden .sidebar-content {margin-top:-16px}
.pos-top.hidden .sidebar-content:hover {margin-top:0px}
.pos-bottom.hidden .sidebar-content {margin-bottom:-16px}
.pos-bottom.hidden .sidebar-content:hover {margin-top:-16px;margin-bottom:0px}

/*** sidebar menu ***/

.sidebarmenu {float:left}

.pos-left .sidebarmenu:hover .sidebar-content {margin-left:0px}
.pos-left .sidebarmenu .sidebar-content:hover {width:64px}
.pos-right .sidebarmenu:hover .sidebar-content {margin-right:0px}
.pos-right .sidebarmenu .sidebar-content {margin-left:32px}
.pos-right .sidebarmenu .sidebar-content:hover {width:64px;margin-left:0px}
.pos-right.hidden .sidebarmenu:hover {margin-right:0px}
.pos-top .sidebarmenu:hover .sidebar-content {margin-top:0px}
.pos-top .sidebarmenu .sidebar-content:hover {height:64px}
.pos-bottom .sidebarmenu .sidebar-content {margin-top:32px}
.pos-bottom .sidebarmenu .sidebar-content:hover {height:64px;margin-top:0px}

.share-button {margin:0px!important}

.pos-left.icon .share-button {width:100%}
.pos-right.icon .share-button {width:100%}
.pos-top.icon .share-button {height:100%}
.pos-bottom.icon .share-button {height:100%}

.pos-left.hidden .sidebarmenu {margin-left:-32px}
.pos-left.hidden .sidebarmenu:hover {margin-left:0px}
.pos-right.hidden .sidebarmenu {margin-right:-32px}
.pos-right.hidden .sidebarmenu:hover {margin-left:-32px}
.pos-top.hidden .sidebarmenu {margin-top:-32px}
.pos-top.hidden .sidebarmenu:hover {margin-top:0px}
.pos-bottom.hidden .sidebarmenu {margin-bottom:-32px}
.pos-bottom.hidden .sidebarmenu:hover {margin-top:-32px;margin-bottom:0px}

/*** icon ***/

.icon .sidebar-content {width:32px;height:32px}

.pos-left.icon .share-button, .pos-right.icon .share-button {width:64px;height:32px}
.pos-top.icon .share-button, .pos-bottom.icon .share-button {width:32px;height:64px}


/******************** WITH TEXT *****************************/

/*** icon-text ***/

/* icon-text sidebar buttons */

.pos-left.icon-text .sidebar-content {width:32px;height:32px}
.pos-left.icon-text .sidebar-content:hover {width:auto;height:32px}

.pos-right.icon-text .sidebar-inner {position:relative;float:left;clear:both;height:32px;width:32px}
.pos-right.icon-text .sidebar-content {position:absolute;top:0px;right:0px;height:32px;width:32px}
.pos-right.icon-text .sidebar-content:hover {width:auto}

.pos-top.icon-text .sidebar-content {width:32px;height:32px}
.pos-top.icon-text .sidebar-content:hover {width:auto;height:32px}

.pos-bottom.icon-text .sidebar-content {width:32px;height:32px}
.pos-bottom.icon-text .sidebar-content:hover {width:auto;height:32px}

/* icon-text sidebarmenu */

.pos-left.icon-text .share-button, .pos-right.icon-text .share-button {width:64px!important;height:32px!important}
.pos-top.icon-text .share-button, .pos-bottom.icon-text .share-button {width:32px!important;height:64px!important}

.pos-right.icon-text .sidebarmenu .share-button {position:relative;float:left;clear:both;height:32px}
.pos-right.icon-text .sidebarmenu .sidebar-inner {position:relative;float:left;clear:both;height:32px;width:32px}
.pos-right.icon-text .sidebarmenu .sidebar-content {position:absolute;top:0px;right:0px;height:32px;width:32px}
.pos-right.icon-text .sidebarmenu .sidebar-content:hover {width:auto}

.pos-top.icon-text .sidebarmenu .sidebar-inner {float:left}

.pos-bottom.icon-text .sidebarmenu .sidebar-inner {float:left;}
.pos-bottom.icon-text .sidebarmenu .sidebar-content:hover {width:auto}
.pos-bottom.icon-text .sidebarmenu .sidebar-content {margin-top:32px}

.pos-left.icon-text .sidebar-content:hover span {display:inline-block;padding:6px 12px 0px 38px;opacity:1.0}
.pos-right.icon-text .sidebar-content:hover span {display:inline-block;padding:6px 38px 0px 12px;opacity:1.0}
.pos-top.icon-text .sidebar-content:hover span {display:inline-block;padding:6px 12px 0px 38px;opacity:1.0}
.pos-bottom.icon-text .sidebar-content:hover span {display:inline-block;padding:6px 12px 0px 38px;opacity:1.0}
.icon-text .sidebar-content span {display:none;opacity:0;white-space:nowrap}

.pos-left.icon-text .sidebar-content {background-position:center left;background-repeat:no-repeat}
.pos-right.icon-text .sidebar-content {background-position:center right;background-repeat:no-repeat}
.pos-top.icon-text .sidebar-content {background-position:center left;background-repeat:no-repeat}
.pos-bottom.icon-text .sidebar-content {background-position:center left;background-repeat:no-repeat}

/* icons */

.icon .sidebar-content, .icon-text .sidebar-content {background-position:center center;background-repeat:no-repeat}

.ico-facebook {background-color:#3d5999;background-image:url("icons/facebook.png")}
.light .ico-facebook {background-image:url("icons/facebook-light.png")}
.dark .ico-facebook {background-image:url("icons/facebook-dark.png")}

.ico-twitter {background-color:#00aced;background-image:url("icons/twitter.png")}
.light .ico-twitter {background-color:#00aced;background-image:url("icons/twitter-light.png")}
.dark .ico-twitter {background-color:#00aced;background-image:url("icons/twitter-dark.png")}

.ico-pinterest {background-color:#d73532;background-image:url("icons/pinterest.png")}
.light .ico-pinterest {background-color:#d73532;background-image:url("icons/pinterest-light.png")}
.dark .ico-pinterest {background-color:#d73532;background-image:url("icons/pinterest-dark.png")}

.ico-linkedin {background-color:#1793bb;background-image:url("icons/linkedin.png")}
.light .ico-linkedin {background-color:#1793bb;background-image:url("icons/linkedin-light.png")}
.dark .ico-linkedin {background-color:#1793bb;background-image:url("icons/linkedin-dark.png")}

.ico-flickr {background-color:#f9007f;background-image:url("icons/flickr.png")}
.light .ico-flickr {background-color:#f9007f;background-image:url("icons/flickr-light.png")}
.dark .ico-flickr {background-color:#f9007f;background-image:url("icons/flickr-dark.png")}

.ico-google-plus {background-color:#bd301c;background-image:url("icons/google-plus.png")}
.light .ico-google-plus {background-color:#bd301c;background-image:url("icons/google-plus-light.png")}
.dark .ico-google-plus {background-color:#bd301c;background-image:url("icons/google-plus-dark.png")}

.ico-vimeo {background-color:#41b2dc;background-image:url("icons/vimeo.png")}
.light .ico-vimeo {background-color:#41b2dc;background-image:url("icons/vimeo-light.png")}
.dark .ico-vimeo {background-color:#41b2dc;background-image:url("icons/vimeo-dark.png")}

.ico-youtube {background-color:#c8312b;background-image:url("icons/youtube.png")}
.light .ico-youtube {background-color:#c8312b;background-image:url("icons/youtube-light.png")}
.dark .ico-youtube {background-color:#c8312b;background-image:url("icons/youtube-dark.png")}

.ico-digg {background-color:#1b5891;background-image:url("icons/digg.png")}
.light .ico-digg {background-color:#1b5891;background-image:url("icons/digg-light.png")}
.dark .ico-digg {background-color:#1b5891;background-image:url("icons/digg-dark.png")}

.ico-soundcloud {background-color:#ff5419;background-image:url("icons/soundcloud.png")}
.light .ico-soundcloud {background-color:#ff5419;background-image:url("icons/soundcloud-light.png")}
.dark .ico-soundcloud {background-color:#ff5419;background-image:url("icons/soundcloud-dark.png")}

.ico-android {background-color:#a5c63b;background-image:url("icons/android.png")}
.light .ico-android {background-color:#a5c63b;background-image:url("icons/android-light.png")}
.dark .ico-android {background-color:#a5c63b;background-image:url("icons/android-dark.png")}

.ico-rss {background-color:#f48022;background-image:url("icons/rss.png")}
.light .ico-rss {background-color:#f48022;background-image:url("icons/rss-light.png")}
.dark .ico-rss {background-color:#f48022;background-image:url("icons/rss-dark.png")}

.ico-creativecloud {background-color:#b4100f;background-image:url("icons/creativecloud.png")}
.light .ico-creativecloud {background-color:#b4100f;background-image:url("icons/creativecloud-light.png")}
.dark .ico-creativecloud {background-color:#b4100f;background-image:url("icons/creativecloud-dark.png")}

.ico-blog {background-color:#ff6600;background-image:url("icons/blog.png")}
.light .ico-blog {background-color:#ff6600;background-image:url("icons/blog-light.png")}
.dark .ico-blog {background-color:#ff6600;background-image:url("icons/blog-dark.png")}

.ico-instagram {background-color:#557ca2;background-image:url("icons/instagram.png")}
.light .ico-instagram {background-color:#557ca2;background-image:url("icons/instagram-light.png")}
.dark .ico-instagram {background-color:#557ca2;background-image:url("icons/instagram-dark.png")}

.ico-wordpress {background-color:#454442;background-image:url("icons/wordpress.png")}
.light .ico-wordpress {background-color:#454442;background-image:url("icons/wordpress-light.png")}
.dark .ico-wordpress {background-color:#454442;background-image:url("icons/wordpress-dark.png")}

.ico-deviantart {background-color:#5f716f;background-image:url("icons/deviantart.png")}
.light .ico-deviantart {background-color:#5f716f;background-image:url("icons/deviantart-light.png")}
.dark .ico-deviantart {background-color:#5f716f;background-image:url("icons/deviantart-dark.png")}

.ico-skype {background-color:#00b8ed;background-image:url("icons/skype.png")}
.light .ico-skype {background-color:#00b8ed;background-image:url("icons/skype-light.png")}
.dark .ico-skype {background-color:#00b8ed;background-image:url("icons/skype-dark.png")}

.ico-xing {background-color:#00605e;background-image:url("icons/xing.png")}
.light .ico-xing {background-color:#00605e;background-image:url("icons/xing-light.png")}
.dark .ico-xing {background-color:#00605e;background-image:url("icons/xing-dark.png")}

.ico-yahoo {background-color:#8f24aa;background-image:url("icons/yahoo.png")}
.light .ico-yahoo {background-color:#8f24aa;background-image:url("icons/yahoo-light.png")}
.dark .ico-yahoo {background-color:#8f24aa;background-image:url("icons/yahoo-dark.png")}

.ico-tumblr {background-color:#395976;background-image:url("icons/tumblr.png")}
.light .ico-tumblr {background-color:#395976;background-image:url("icons/tumblr-light.png")}
.dark .ico-tumblr {background-color:#395976;background-image:url("icons/tumblr-dark.png")}

.ico-stumbleupon {background-color:#63af20;background-image:url("icons/stumbleupon.png")}
.light .ico-stumbleupon {background-color:#63af20;background-image:url("icons/stumbleupon-light.png")}
.dark .ico-stumbleupon {background-color:#63af20;background-image:url("icons/stumbleupon-dark.png")}

.ico-myspace {background-color:#000000;background-image:url("icons/myspace.png")}
.light .ico-myspace {background-color:#000000;background-image:url("icons/myspace-light.png")}
.dark .ico-myspace {background-color:#000000;background-image:url("icons/myspace-dark.png")}

.ico-dribbble {background-color:#f26798;background-image:url("icons/dribbble.png")}
.light .ico-dribbble {background-color:#f26798;background-image:url("icons/dribbble-light.png")}
.dark .ico-dribbble {background-color:#f26798;background-image:url("icons/dribbble-dark.png")}

.ico-apple {background-color:#7e878b;background-image:url("icons/apple.png")}
.light .ico-apple {background-color:#7e878b;background-image:url("icons/apple-light.png")}
.dark .ico-apple {background-color:#7e878b;background-image:url("icons/apple-dark.png")}

.ico-behance {background-color:#1377ff;background-image:url("icons/behance.png")}
.light .ico-behance {background-color:#1377ff;background-image:url("icons/behance-light.png")}
.dark .ico-behance {background-color:#1377ff;background-image:url("icons/behance-dark.png")}

.ico-addthis {background-color:#ff835e;background-image:url("icons/addthis.png")}
.light .ico-addthis {background-color:#ff835e;background-image:url("icons/addthis-light.png")}
.dark .ico-addthis {background-color:#ff835e;background-image:url("icons/addthis-dark.png")}

.ico-aim {background-color:#ff201a;background-image:url("icons/aim.png")}
.light .ico-aim {background-color:#ff201a;background-image:url("icons/aim-light.png")}
.dark .ico-aim {background-color:#ff201a;background-image:url("icons/aim-dark.png")}

.ico-amazon {background-color:#ff8322;background-image:url("icons/amazon.png")}
.light .ico-amazon {background-color:#ff8322;background-image:url("icons/amazon-light.png")}
.dark .ico-amazon {background-color:#ff8322;background-image:url("icons/amazon-dark.png")}

.ico-aws {background-color:#ff7233;background-image:url("icons/aws.png")}
.light .ico-aws {background-color:#ff7233;background-image:url("icons/aws-light.png")}
.dark .ico-aws {background-color:#ff7233;background-image:url("icons/aws-dark.png")}

.ico-bebo {background-color:#ff001a;background-image:url("icons/bebo.png")}
.light .ico-bebo {background-color:#ff001a;background-image:url("icons/bebo-light.png")}
.dark .ico-bebo {background-color:#ff001a;background-image:url("icons/bebo-dark.png")}

.ico-brightkite {background-color:#69df3f;background-image:url("icons/brightkite.png")}
.light .ico-brightkite {background-color:#69df3f;background-image:url("icons/brightkite-light.png")}
.dark .ico-brightkite {background-color:#69df3f;background-image:url("icons/brightkite-dark.png")}

.ico-dailybooth {background-color:#17a3fb;background-image:url("icons/dailybooth.png")}
.light .ico-dailybooth {background-color:#17a3fb;background-image:url("icons/dailybooth-light.png")}
.dark .ico-dailybooth {background-color:#17a3fb;background-image:url("icons/dailybooth-dark.png")}

.ico-designfloat {background-color:#ff9811;background-image:url("icons/designfloat.png")}
.light .ico-designfloat {background-color:#ff9811;background-image:url("icons/designfloat-light.png")}
.dark .ico-designfloat {background-color:#ff9811;background-image:url("icons/designfloat-dark.png")}

.ico-dropbox {background-color:#008bd3;background-image:url("icons/dropbox.png")}
.light .ico-dropbox {background-color:#008bd3;background-image:url("icons/dropbox-light.png")}
.dark .ico-dropbox {background-color:#008bd3;background-image:url("icons/dropbox-dark.png")}

.ico-evernote {background-color:#87c441;background-image:url("icons/evernote.png")}
.light .ico-evernote {background-color:#87c441;background-image:url("icons/evernote-light.png")}
.dark .ico-evernote {background-color:#87c441;background-image:url("icons/evernote-dark.png")}

.ico-forrst {background-color:#00a26c;background-image:url("icons/forrst.png")}
.light .ico-forrst {background-color:#00a26c;background-image:url("icons/forrst-light.png")}
.dark .ico-forrst {background-color:#00a26c;background-image:url("icons/forrst-dark.png")}

.ico-github {background-color:#3b3b3b;background-image:url("icons/github.png")}
.light .ico-github {background-color:#3b3b3b;background-image:url("icons/github-light.png")}
.dark .ico-github {background-color:#3b3b3b;background-image:url("icons/github-dark.png")}

.ico-lastfm {background-color:#e02703;background-image:url("icons/lastfm.png")}
.light .ico-lastfm {background-color:#e02703;background-image:url("icons/lastfm-light.png")}
.dark .ico-lastfm {background-color:#e02703;background-image:url("icons/lastfm-dark.png")}

.ico-picasa {background-color:#797979;background-image:url("icons/picasa.png")}
.light .ico-picasa {background-color:#797979;background-image:url("icons/picasa-light.png")}
.dark .ico-picasa {background-color:#797979;background-image:url("icons/picasa-dark.png")}

.ico-reddit {background-color:#20a6d9;background-image:url("icons/reddit.png")}
.light .ico-reddit {background-color:#20a6d9;background-image:url("icons/reddit-light.png")}
.dark .ico-reddit {background-color:#20a6d9;background-image:url("icons/reddit-dark.png")}

.ico-spotify {background-color:#7bb82f;background-image:url("icons/spotify.png")}
.light .ico-spotify {background-color:#7bb82f;background-image:url("icons/spotify-light.png")}
.dark .ico-spotify {background-color:#7bb82f;background-image:url("icons/spotify-dark.png")}

.ico-delicious {background-color:#2745a8;background-image:url("icons/delicious.png")}
.light .ico-delicious {background-color:#2745a8;background-image:url("icons/delicious-light.png")}
.dark .ico-delicious {background-color:#2745a8;background-image:url("icons/delicious-dark.png")}

.ico-share {background-color:#0c8854;background-image:url("icons/share.png")}
.light .ico-share {background-color:#0c8854;background-image:url("icons/share-light.png")}
.dark .ico-share {background-color:#0c8854;background-image:url("icons/share-dark.png")}

.pos-left .share-button {background-position:right center!important;background-repeat:no-repeat}
.pos-right .share-button {background-position:left center!important;background-repeat:no-repeat}
.pos-top .share-button {background-position:center bottom!important;background-repeat:no-repeat}
.pos-bottom .share-button {background-position:center top!important;background-repeat:no-repeat}

/*** sidebar position border radius ***/

.pos-left.radius .sidebar-content {
border-radius:0px 6px 6px 0px;
-webkit-border-radius:0px 6px 6px 0px;
-moz-border-radius:0px 6px 6px 0px;
-o-border-radius:0px 6px 6px 0px;
-khtml-border-radius:0px 6px 6px 0px}
.pos-right.radius .sidebar-content {
border-radius:6px 0px 0px 6px;
-webkit-border-radius:6px 0px 0px 6px;
-moz-border-radius:6px 0px 0px 6px;
-o-border-radius:6px 0px 0px 6px;
-khtml-border-radius:6px 0px 0px 6px}
.pos-top.radius .sidebar-content {
border-radius:0px 0px 6px 6px;
-webkit-border-radius:0px 0px 6px 6px;
-moz-border-radius:0px 0px 6px 6px;
-o-border-radius:0px 0px 6px 6px;
-khtml-border-radius:0px 0px 6px 6px}
.pos-bottom.radius .sidebar-content {
border-radius:6px 6px 0px 0px;
-webkit-border-radius:6px 6px 0px 0px;
-moz-border-radius:6px 6px 0px 0px;
-o-border-radius:6px 6px 0px 0px;
-khtml-border-radius:6px 6px 0px 0px}

/*** sidebar position box shadow ***/

.pos-left.shadow .sidebar-content {
box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2)}
.pos-right.shadow .sidebar-content {
box-shadow:-1px 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:-1px 1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:-1px 1px 2px rgba(0, 0, 0, 0.2)}
.pos-top.shadow .sidebar-content {
box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2)}
.pos-bottom.shadow .sidebar-content {
box-shadow:0px -1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.2)}

/*** sidebar position border ***/

.pos-left.border .sidebar-content {border-width:1px 1px 1px 0px}
.pos-right.border .sidebar-content {border-width:1px 0px 1px 1px}
.pos-top.border .sidebar-content {border-width:0px 1px 1px 1px}
.pos-bottom.border .sidebar-content {border-width:1px 1px 0px 1px}

/*** colors ***/

.dark, .dark a {color:#000}

.blue .sidebar-content {background-color:#0078cd}
.blue .sidebar-content:hover {background-color:#1787d6}

.grey .sidebar-content {background-color:#8d8d8d}
.grey .sidebar-content:hover {background-color:#9c9c9c}

.green .sidebar-content {background-color:#639f04}
.green .sidebar-content:hover {background-color:#70ad10}

.yellow .sidebar-content {background-color:#c0a300}
.yellow .sidebar-content:hover {background-color:#d8b806}

.orange .sidebar-content {background-color:#cd7503}
.orange .sidebar-content:hover {background-color:#e28f23}

.red .sidebar-content {background-color:#bb0707}
.red .sidebar-content:hover {background-color:#c81b1b}

.purple .sidebar-content {background-color:#7800be}
.purple .sidebar-content:hover {background-color:#9816e3}

.pink .sidebar-content {background-color:#bd00b6}
.pink .sidebar-content:hover {background-color:#e117da}

.white .sidebar-content {background-color:#fff}
.white .sidebar-content:hover {background-color:#c9c9c9}

.black .sidebar-content {background-color:#000}
.black .sidebar-content:hover {background-color:#000}
