#ls_chat_plugin {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 280px;
	position: fixed;
	bottom: 0;
	right: 30px;
	z-index: 9999;
}

/* HEADING ***************************************/
#ls_chat_plugin .header {
	padding:10px;
	width:280px;
	min-width:280px;
	max-width:280px;
	background:#353e48;
	border:1px solid #939393;
	color:#fff;
	font-weight:bold;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	font-weight: lighter;
	font-size: 12px;
}
/* FORM *****************************************/

#ls_chat_plugin input{
	border:1px solid #939393;
	padding:5px;
	width:180px;
}

#ls_chat_plugin button{
	width:280px;
	padding: 10px 0px;
	box-shadow: 1px 1px 10px black	;
	color:#fff;
	background-color:#939393;
	cursor:pointer;
}

#ls_chat_plugin .chat_content {
	display:none;
	padding:10px;
	width:280px;
	min-width:280px;
	max-width:280px;
	background:#fff;
	border-left:1px solid #939393;
	border-right:1px solid #939393;
	font-size:13px;
}

#ls_chat_plugin .chat_content #messages {
	overflow-y:scroll;
	overflow-x:hidden;
	width:100%;
	height:250px;
}


#ls_chat_plugin .chat_content .conversation {
  padding: 5px;
}
#ls_chat_plugin .chat_content .conversation .media {
  padding: 5px;
}
#ls_chat_plugin .chat_content .conversation .media .media-object {
  width: 34px;
  height: 34px;
  border-radius: 4px;
}
#ls_chat_plugin .chat_content .conversation .media .media-body .media-heading {
  margin: 0 0 0 10px;
}
#ls_chat_plugin .chat_content .conversation .media .media-body .timestamp {
  font-size: 11px;
  color: #aaa;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 10px 10px;
}
#ls_chat_plugin .chat_content .conversation .media .media-body .timestamp span {
  color: #777777;
}
#ls_chat_plugin .chat_content .conversation .media .message {
  position: relative;
  background: #f5f5f5;
  margin: 0 0 0 10px;
  padding: 15px;
  border-radius: 3px;
}
#ls_chat_plugin .chat_content .conversation .media .message:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(245, 245, 245, 0);
  border-right-color: #f5f5f5;
  border-width: 7px;
  top: 15px;
  margin-top: -10px;
}
#ls_chat_plugin .chat_content .conversation .media .message p {
  line-height: 1.6;
}
#ls_chat_plugin .chat_content .conversation .media .message p:last-child {
  margin-bottom: 0;
}
#ls_chat_plugin .chat_content .conversation .media .message.message-left {
  margin: 0 10px 0 0;
}
#ls_chat_plugin .chat_content .conversation .media .message.message-left:after {
  right: auto;
  left: 100%;
  border-color: rgba(245, 245, 245, 0);
  border-left-color: #f5f5f5;
}
#ls_chat_plugin .chat_content .conversation .media .message.message-admin {
  background: #2abf9e;
}
#ls_chat_plugin .chat_content .conversation .media .message.message-admin p {
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
}
#ls_chat_plugin .chat_content .conversation .media .message.message-admin:after {
  border-right-color: #2abf9e;
}
#ls_chat_plugin .chat_content .conversation .media .message.message-admin.message-left:after {
  border-color: rgba(245, 245, 245, 0);
  border-left-color: #2abf9e;
}
#ls_chat_plugin .chat_content .conversation .media:last-child {
  border: none;
}
#ls_chat_plugin .chat_content .conversation .media.media-right .media-body .media-heading {
  margin: 0 10px 0 0;
}
#ls_chat_plugin .chat_content .conversation .media.media-right .media-body .timestamp {
  margin: 0 0 10px 0;
}
#ls_chat_plugin .chat_content .conversation-list li {
  border-bottom: #eee solid 1px;
  padding: 10px;
}
#ls_chat_plugin .chat_content .conversation-list li img {
  width: 50px;
  height: auto;
  border-radius: 3px;
}
